
body {
  font-family: Arial, sans-serif;
  background-color: #49e9a6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.5em;
  color: #084231;
}

p {
  max-width: 400px;
  margin: 1em auto;
}